/*
.box1 {
    width: 200px;
    height: 100px;
    background:orange;
    padding:10px 30px 10px 30px;
    border-style:solid;
 }

.box2 {
    width: 50%;
    height: 100px;
    background:blue;
    padding:10px 30px;
    border-style:dotted;
}

.box3 {
    width: auto;
    height: auto;
    background:aqua;
    padding:10px;
    border-style:dashed;
}

.outer {
    border: 2px solid black;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: red;
}

.inner {
    box-sizing: border-box;
    border: 2px dotted red;
    width: 100%;
    padding-left: 40px;
}

*{
    border: 1px dotted red;
}

.box {
    display: block;
    width: 200px;
    height: 100px;
    background-color: indianred;            
    margin: 10px;
}

.box {
    display: inline;
    width: 200px;
    height: 100px;
    background-color:yellowgreen;            
    margin: 10px;
}

.container{
    font-size: 0;
}

.box{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    text-align: center;
    line-height: 200px;
    border: 1px solid black;
    font-size: 1rem;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

a:hover{
    color: #f6ca00;
}

ul{
    list-style-type: none;
    font-size: 0;
    height: 100%;
}

.hd_fixed{
    height: 90px;
}

.hd_content{
    height: 100%;
}

.logo, .gnb_menu{
    display: inline-block;
    height: 100%;
}

.logo{
    width: 250px;
    padding-left: 50px;
    padding-right: 100px;
    vertical-align: top;
}

.gnb_menu{
    vertical-align: middle;
}

.logo h1{
    width: 100%;
    line-height: 90px;
    text-align: center;
}

.dp1{
    display: inline-block;
    height: 100%;
    font-size: 1rem;
}

ul li a{
    line-height: auto;
    padding: 30px;
    line-height: 90px;
}

.float-container{
    width: 800px;
    border: 2px solid #09c;
}

.float-container img {
    float: left;
    margin: 5px;
    padding: 5px;
    border: 2px solid #90c;
}

body{
    border: 1px solid black;
}

div{
    width: 200px;
    height: 200px;
}

div.box1{
    background-color: red;
    top: 100%;
    position: absolute;
    z-index: 1;
}

div.box2{
    background-color: yellow;
    position: relative;
    z-index: 2;
}

.container{
    width: 80%;
    max-width: 1200px;
    height: 500px;
    background-color: green;
    position: relative;
    margin: 0 auto;
}

.main-part {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 0px 5px;
}

.cpanel {
    width: 32%;
    display: inline-block;
    background-color: #34495e;
    color: #fff;
    margin-top: 50px;
}

.icon-part i {
    font-size: 30px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-top: -25px;
    margin-bottom: 10px;
    background-color: #34495e;
}

  .icon-part p {
    margin: 0px;
    font-size: 20px;
    padding-bottom: 10px;
}

.card-content-part {
    background-color: #2f4254;
    padding: 5px 0px;
}

.cpanel .card-content-part:hover {
    background-color: #5a5a5a;
    cursor: pointer;
}

.card-content-part a {
    color: #fff;
    text-decoration: none;
}

.carousel {
    width: 1600px;
    height: 700px;
    background-image: url("../img/jokbal.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    margin: 0 auto;
}
*/

.container {
    display: flex;
    background-color: yellowgreen;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    border: 2px solid black;
    width: 300px;
    height: 200px;
}
  
.item {
    background-color: aquamarine;
    border: 2px solid black;
    font-size: 2rem;
}

.outer{
    display: flex;
}